<ion-view view-title="Videos">
    <ion-content >

     <!--   <ion-list>
            <ion-item collection-repeat="video in videos" class="item-thumbnail-left">
             <img ng-src="{{video.image}}">
                <h2>{{video.name}}</h2>
                <div ng-click="playVideo(video.name)"> Click To See </div>
            </ion-item>
        </ion-list>-->

           <ion-list>
            <ion-item collection-repeat="video in _videos" class="item-thumbnail-left">
                <img ng-src="{{video.image}}">
                <h2>{{video.name}}</h2>
                <div ng-click="playVideo(video.name)"> Click To See </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                ng-if="canWeLoadMoreVideo()"
                on-infinite="loadMoreVideo()"
                icon="ion-loading-c"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
