<ion-view view-title="Search">
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="vi du nhap vao tu khoa la bo"
               ng-model="search"

               class="full-width">
        <button class="button button-icon ion-android-close input-button"
                ng-click="clearSearch()">
        </button>
    </ion-header-bar>
  <ion-content>
      <button class="button button-full button-positive" ng-click="searchVideoByName(search)">
         tim kiem
      </button>
      <ion-list>
          <ion-item collection-repeat="video in _videos" class="item-thumbnail-left">
              <img ng-src="http:{{video.image}}">
              <h2>{{video.name}}</h2>
              <button class="button button-balanced" ng-click="playVideo(video.url)">
                  Watch it
              </button>

          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
