<ion-view view-title="Video" >
    <ion-content>

        <div class="list card">

            <div class="item item-avatar">
                <img ng-src="http:{{video.image}}">
                <h2>{{video.name}}</h2>

            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="http:{{video.image}}">

            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="playVideo(video.url)">
                    <i class="icon ion-social-youtube-outline"></i>
                       Xem
                     </a>
                <a class="tab-item" ng-click="addVideoToFavourist(video)">
                    <i class="icon ion-star"></i>
                      Yêu thích
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share" ng-click="shareVideoToFacebook('Demo message', 'www/img/image1.jpeg', 'http://santoshshinde2012.blogspot.com')"></i>
                    Chia sẽ
                </a>
            </div>

        </div>

    </ion-content>
</ion-view>
